.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip



intro-to-tensorflow/notMNIST.pickle
intro-to-tensorflow/notMNIST_test.zip
intro-to-tensorflow/notMNIST_train.zip

.ipynb_checkpoints/

cifar-10-batches-py/
cifar-10-python.tar.gz
__pycache__/

image-classification/*.p